assemblyai==0.19.0
duckdb
duckduckgo_search
wikipedia
arxiv
beautifulsoup4==4.12.3
crewai==0.30.11
crewai-tools==0.2.6
camelot-py==0.11.0
py-AutoClean==1.1.3
joblib==1.3.2
langchain==0.1.20
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-groq
langchain-openai
langchain-text-splitters
langdetect==1.0.9
langsmith==0.1.63
langdetect==1.0.9
matplotlib==3.8.1
google-generativeai==0.5.4
groq==0.4.2
gpt4all==2.3.2
nltk==3.8.1
poppler-utils==0.1.0
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
# protobuf==5.27.0
# psycopg2==2.9.9
pygwalker==0.4.8.7
pymongo==4.7.2
python-dotenv==1.0.1
py-AutoClean==1.1.3
Requests
# scikit_learn==1.4.2
scikit_learn==1.2.2
scipy==1.13.1
seaborn==0.13.2
statsmodels==0.14.2
streamlit
streamlit-camera-input-live
streamlit-card
streamlit==1.34.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
# chroma-hnswlib==0.7.3
# chromadb==0.4.24
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-option-menu==0.3.12
streamlit-server-state==0.17.1
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sweetviz==2.3.1
youtube_transcript_api==0.6.2
unstructured==0.14.2
unstructured-client==0.15.2
unstructured-inference==0.7.25
unstructured.pytesseract==0.3.12
pillow==10.2.0
pillow_heif==0.16.0
pikepdf==8.15.1
ghostscript==0.7
rank-bm25==0.2.2
faiss-cpu
pypdf2
psycopg2-binary==2.9.9
pysqlite3-binary
tiktoken
async-lru==2.0.4
nest-asyncio==1.6.0